//- Jade Syntax
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body
		h1 Jade is <strong>Node.js</strong> Template Engine.
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, maiores.
		p  Lorem ipsum dolor sit amet.

		h1 
			| Jade is 
			strong Node.js
			| Template Engine.